body {
  font-family: sans-serif;
}

#container {
  max-width:1000px;
  border:1px solid lightgray;
  display:flex;
  flex-direction: row;
  min-height:98vh;
  margin:0 auto;
  background-color: white;
}

.notes-box {
  border-right:1px solid lightgray;
  display: flex;
  flex-direction: column;
}

button {
  background-color: #557571;
  border-radius: 20px;
  border:0;
  padding:10px 20px;
  width:75%;
  min-width:150px;
   margin-top:10px;
  color:#F4F4F4;
  font-size: 1em;
  outline:none;
  cursor: pointer;
}

#notes-box-selector {
  flex:2;
  align-items: center;
  margin-right:5px;
  padding:3px;
}

#notes-box-writer {
  flex:4;
  margin-left:5px;
  border:1px solid lightgray;
  border:0;
  width:100%;
  visibility: hidden;
}

textarea {
resize:none;
color:black;
}

#notes-content-title {
  flex:1;
  outline:none;
  border:0;
  padding:5px;
}

#notes-content-body {
  flex:10;
  background-color: white;
  border:0;
  padding:5px;
}

#notes-content-body:focus {
   outline: none;
}

#notes-content-timestamp {
  flex:1;
}
